<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE project>
<configuration scan="true" debug="false">

    <if condition='!isDefined("logs.dir")'>
        <then>
            <property name="logs.dir" value="target/logs" />
        </then>
    </if>

    <!-- sends logs to logback-beagle -->
    <consolePlugin />
    <appender name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.dir}/fileUpload.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${logs.dir}/archive/fileUpload.%i.log.zip
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="CACHE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.dir}/cache.log</file>
        <append>true</append>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level {%thread} [%logger{40}] : %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logs.dir}/archive/cache-%d{yyyyMMdd}-%i.log.zip
            </fileNamePattern>
            <maxHistory>10</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="HIBERNATE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.dir}/hibernate.log</file>
        <append>true</append>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level {%thread} [%logger{40}] : %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logs.dir}/archive/hibernate-%d{yyyyMMdd}-%i.log.zip
            </fileNamePattern>
            <maxHistory>10</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="JSF"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.dir}/jsf.log</file>
        <append>true</append>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level {%thread} [%logger{40}] : %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logs.dir}/archive/jsf-%d{yyyyMMdd}-%i.log.zip
            </fileNamePattern>
            <maxHistory>10</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="QUARTZ"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.dir}/quartz.log</file>
        <append>true</append>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level {%thread} [%logger{40}] : %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logs.dir}/archive/quartz-%d{yyyyMMdd}-%i.log.zip
            </fileNamePattern>
            <maxHistory>10</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="WELD"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.dir}/weld.log</file>
        <append>true</append>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level {%thread} [%logger{40}] : %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logs.dir}/archive/weld-%d{yyyyMMdd}-%i.log.zip
            </fileNamePattern>
            <maxHistory>10</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="net.sf.ehcache" level="INFO" additivity="false">
        <appender-ref ref="CACHE" />
    </logger>

    <logger name="org.hibernate" level="INFO" additivity="false">
        <appender-ref ref="HIBERNATE" />
    </logger>

    <logger name="com.sun.faces" level="INFO" additivity="false">
        <appender-ref ref="JSF" />
    </logger>

    <logger name="org.jboss.seam.faces" level="INFO" additivity="false">
        <appender-ref ref="JSF" />
    </logger>

    <logger name="org.quartz" level="INFO" additivity="false">
        <appender-ref ref="QUARTZ" />
    </logger>

    <logger name="org.jboss.weld" level="INFO" additivity="false">
        <appender-ref ref="WELD" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>
</configuration>